<!-- ng-init="init()" -->
<div class="admin-panel">
	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<span class="navbar-brand">Polling App</span>
			</div>

                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                              <ul class="nav navbar-nav">
                                
                                <li class="dropdown">
                                    <a role="button" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false">
                                        Admin <b class="caret"></b>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#/admin/options">Admin Options</a></li>
                                        <li><a href="#/admin/view-questions">View questions</a></li>
                                        <li><a href="#/admin/new-question"> New Question</a></li>
                                    </ul>
                                </li>
                                <li><a href="#/poll">Polls </a></li>
                                <li><a href="#/admin/list">Poll List</a></li>
                                
                              
                              </ul>
                            </div><!-- /.navbar-collapse -->


		</div>
	</nav>
	<div class="main col-xs-12" data-ui-view>
	</div>
</div>
