<!-- <a href="#/poll/{{poll}}"> -->
    <div class="well-lg">
        <div class="row">
            <h2 class="col-md-11">{{poll.Name}}</h2>
        </div>
        <div class="row">
            <span class="col-md-6">Stars:</span>
            <span class="col-md-5">{{poll.Stars}}</span>
        </div>
        <div class="row">
            <span class="col-md-6">User Rating:</span>
            <span class="col-md-5">{{poll.UserRating}}</span>
        </div>
        <div class="row">
            <span class="col-md-6">Location:</span>
            <span class="col-md-5">{{poll.Location}}</span>
        </div>
    </div>
<!-- </a> -->